@import "normalize.css";
@import "_variables.css";
@import "_mixins.css";

/* ============================================= G L O B A L S =========================================== */

@font-face {
    font-family: sports1;
    src: url('assets/fonts/SFSportsNight.ttf');
}

input,
button {
    cursor: pointer;
}

#chartContainer {}

#registerBody {
    background-color: #1616182d;
}

#indexBody {
    background-color: #1616182d;
}

.border {
    &_2 {
        border: 2px solid grey;
        border-radius: 10px;
    }
}

.padding {
    &_20 {
        padding: 20px;
    }
}

#main {
    width: fit-content;
    margin: 0 auto;
}

.text {
    &_center {
        text-align: center;
    }
}

.flex {
    display: flex;
    &_row {
        flex-direction: row;
    }
    &_column {
        flex-direction: column;
    }
    &_justify_items {
        &_center {
            justify-items: center;
        }
    }
    &_justify_content {
        &_space_around {
            justify-content: space-around;
        }
        &_space_between {
            justify-content: space-between;
        }
    }
    &_align_items {
        &_center {
            align-items: center;
        }
    }
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 10rem;
    &_medium {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 7rem;
    }
    &_small {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 4rem;
    }
    &_blue {
        border: 10px solid white;
        border-radius: 10px;
        background-color: #1E90FF;
        font-size: 8rem;
        color: whitesmoke;
        text-align: center;
        font-family: sports1;
    }
}

select {
    padding: 15px;
    border-radius: 10px;
    font-size: 5rem;
    width: 70%;
    text-align: center;
    option {
        font-size: 2rem;
    }
}

.main {
    .logo {
        padding-top: 60px;
        margin: 0 auto;
        width: 700px;
    }
}

.margin {
    &_top_200 {
        margin-top: 200px;
    }
}

.column {
    &_align_center {
        margin: 0 auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }
}

.input {
    &_large {
        width: 70%;
        height: 5rem;
    }
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    input[type=text],
    input[type=password] {
        padding: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    input {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 4rem;
        text-align: center;
    }
}

input[type=text],
input[type=password] {
    border-radius: 20px;
    padding: 20px;
    border: 2px solid whitesmoke;
}

.register_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    input[type=text],
    input[type=password] {
        padding: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    label {
        font-size: 4rem;
    }
}

.hidden {
    display: none;
}

.button {
    &_tiny {
        font-size: 1rem;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: fit-content;
        margin: 0 auto;
    }
    &_small {
        font-size: 3rem;
        padding: 30px;
        margin-top: 40px;
        margin-bottom: 20px;
        width: fit-content;
        margin: 0 auto;
    }
    &_big {
        font-size: 5rem;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &_large {
        font-size: 8rem;
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &_medium {
        font-size: 4rem;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: fit-content;
        margin: 0 auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    &_round {
        border-radius: 40px;
    }
    &_orange {
        border: 10px solid white;
        border-radius: 10px;
        background-color: #FF4500;
        font-size: 8rem;
        color: whitesmoke;
        text-align: center;
        font-family: sports1;
    }
}

.controls {
    h1 {
        border: 1px solid grey;
        border-radius: 0.5rem;
        padding: 10px;
    }
    font-size:2.5rem;
    margin: 40px auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dodaj {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    h3 {
        margin: 0px;
        padding: 0px;
    }
    form {}
}

.tabela {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.7rem;
    td,
    tr {
        border: 1px solid rgba(255, 255, 255, 0.9);
        font-size: 1.5rem;
        padding: 20px;
    }
    td {
        font-size: 2.3rem;
        text-align: center;
        border-right: 1px solid lightslategray;
    }
    .data_td {
        font-size: 1rem;
    }
    .data_tr {
        background-color: #f1f1f1;
    }
}

.element {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    border: 3px solid lightgrey;
    border-radius: 0.7rem;
    padding: 20px;
    margin-top: 5px;
    input {
        text-align: center;
        width: 400px;
        margin: 0 auto;
        padding: 30px;
        border: 2px solid grey;
        border-radius: 10px;
    }
    .dodaj {
        padding: 20px;
    }
    button[type=button] {
        padding: 10px;
    }
    h3 {
        font-size: 3rem;
        padding: 10px;
    }
}

.user_list_table {
    margin: 0 auto;
    width: 90%;
    font-size: 3rem;
    th,
    tr,
    td {
        border: 1px solid black;
        padding: 10px;
    }
    .class_row {
        height: 4rem;
        background-color: #3cd6ff;
        color: whitesmoke;
        font-weight: bold;
        font-size: 6rem;
    }
    .headers_row {}
}

.canvasjs-chart-canvas {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid #d6d6d6;
}

.canvasjs-chart-credit {
    display: none;
}